* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset style*/


/*begin added css*/

/*body 	{
	box-sizing: border-box;
	background-color: #424242;
	margin-top: 0px;
}*/



/*end added css*/


h2 {
	margin-left: 0px;
	margin-bottom: 0px;
	color: #5c0d09;
	font-family: helvetica;
}

h4 {
	margin-top: 0px;
	margin-left: 0px;
	color: #d44601;
	font-family: helvetica;
}


nav {
	margin-top: 0px;
	font-size: 20px;
	margin-right: 275px;
	float: right;
	color: #d44601;
}

nav ul {
	list-style: none;
}

nav ul li {
	text-decoration: none;
	color: #5c0d09;
	font-family: helvetica;
}

nav ul li a {
	text-decoration: none;
	color: #d44601;
	font-family: helvetica;
}

/*nav ul li a {
	float: right;
	text-decoration: none;
	color: #d44601;
	}*/
a:hover {
	text-decoration: none;
	color: #177263;
}

#header {
	height: 100px;
	width: 960px;
	background-color: #52c0a7;
	box-sizing: border box;
}

#footer {
	clear: both;
	height: 65px;
	width: 960px;
	background-color: #52c0a7;
	box-sizing: border box;
}

.BlogContent {
	margin-left: 20px;
	height: 200px;
	width: 760px;
	font-family: verdana;
	margin: 0;
	padding: 0;
	border: 0;
}


#diagram {
	margin-right: 25px;
	float: left;
	height: 150px;
	width: 250px;
}

#SeaBin {
	margin-left: 20px;
	float: right;
	height: 150px;
	width: 250px;
}

